@page "/counter"

<PageTitle>Contador</PageTitle>

<div>
    <h2>Películas</h2>
    <ListMovies Peliculas="ListadoPeliculas()" />
</div>

<p>Contador @currentCount</p>
<p>Contador Singleton @singleton.Valor</p>
<p>Contador Transient @transient.Valor</p>
<button class="btn btn-success" @onclick="incrementCount">Sumar</button>
<button class="btn btn-success" @onclick="testInstanceJS">JavaScript</button>
