@page "/"

<PageTitle>Inicio</PageTitle>

<div>
    <h2>Películas</h2>
    <ListMovies Peliculas="ListadoPeliculas()" />
</div>

@* <div>
    <h2>Parametros Adicionales</h2>
    <ExampleTextBox placeholder="Nombre de Película" />
</div>

<div>
    <BindEvent />
</div>

<div>
    <BindSetGet />
</div>

<div>
    <BindAfter />
</div> *@
